  .game-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0;
    width: 500px;
    height: 500px;
    margin: 0 auto;
  }
  
  .board-row {
    display: contents;
  }
  
  .selected-cell {
    background-color: #6495ED;
  }
  
  .cell {
    
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }
  /* Add other CSS styles here as necessary */
  