  .game-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0;
    width: 500px;
    height: 500px;
    margin: 0 auto;
  }
  
  .board-row {
    display: contents;
  }
  
  .selected-grid {
    background-color: #800080;
  }

  .yellow-grid {
    background-color: yellow; /* Sets the background to yellow */
}

  .blue-grid {
      background-color: lightblue; /* Sets the background to light blue */
  }
  
  .grid {
    
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 10px;
    font-size: 20px;
    text-align: center;
  }
  /* Add other CSS styles here as necessary */
  